body{
  font-family:Arial, Helvetica, sans-serif
}

.light-on {
  color: black;
  background-color: white;
}

.light-off {
  color: white;
  background-color: black;
}

.clock{
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.clock button {
background-color: azure;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}